<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>1212221212</title>
</head>
<body>


<form th:method="post" th:action="@{/admin/add}" th:object="${newUser}">
    <label for="name">Введите имя пользователя: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color: indianred" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>
    <br/>
    <label for="surname">Введите фамилию пользователя: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <div style="color: indianred" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname error</div>
    <br/>
    <br/>
    <label for="department">Введите департамент пользователя: </label>
    <input type="text" th:field="*{department}" id="department"/>
    <div style="color: indianred" th:if="${#fields.hasErrors('department')}" th:errors="*{department}">Department error</div>
    <br/>
    <br/>
    <label for="password">Введите пароль: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <div style="color: indianred" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
    <br/>
    <br/>
    <input type="submit" value="Sign up!"/>

    <br/>
    <br/>

    <a href="/logout">Logout</a>

</form>

<!--<form th:object="${newUser}" th:method="post" th:action="@{/admin/add}">-->
<!--    <label for="name">Enter name: </label>-->
<!--    <input type="text" th:field="*{name}" id="name">-->
<!--    <br>-->
<!--    <br>-->
<!--    <label for="surname">Enter surname: </label>-->
<!--    <input type="text" th:field="*{surname}" id="surname">-->
<!--    <br>-->
<!--    <br>-->
<!--    <label for="department">Enter department: </label>-->
<!--    <input type="text" th:field="*{department}" id="department">-->
<!--    <br/>-->
<!--    <br>-->
<!--    <label for="password">Enter password: </label>-->
<!--    <input type="text" th:field="*{password}" id="password">-->
<!--    <br/>-->
<!--    <br>-->
<!--    <label for="roles">Enter role: </label>-->
<!--    <input type="text" th:field="*{roles}" id="roles">-->
<!--    <br/>-->
<!--    <br>-->
<!--    <input type="submit" value="Create"/>-->
<!--</form>-->
</body>
</html>