<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:object="${user}" th:method="post" th:action="@{/update/{id}(id=${user.getId()})}">
    <input type="hidden" th:field="*{id}"/>
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name">
    <br>
    <br>
    <label for="surname">Enter surname: </label>
    <input type="text" th:field="*{surname}" id="surname">
    <br>
    <br>
    <label for="department">Enter department: </label>
    <input type="text" th:field="*{department}" id="department">
    <br/>
    <br>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id=password>
    <br/>
    <br>
    <p>
        <label>Roles:
            <input type="checkbox" name="roles"
                   th:each="role : ${roles}"
                   th:text="${role.toString()}"
                   th:value="${role.id}"
                   th:field="*{roles}"
            />
        </label>
    </p>
    <input type="submit" value="Update"/>

</form>

</body>
</html>